<div>
  <h1>Szeretettel köszöntelek,</h1>
  <h2>Klaudia vagyok sminkes és stylist.</h2>
  Gyerekkorom óta imádtam a filmeket, a ruhákat, a szépséget, így belevágtam az
  egyik álmom megvalósításába és Lakatos Márk Style Institute iskolájában az
  elsők között szereztem meg stylist oklevelem 2015-ben. Az azóta eltelt időben
  dolgoztam stylistként átalakítónapokon, fotózásokon,divatbemutatókon és
  forgatásokon is.
  <br />
  <br />
  Az hogy stylistként testközelből dolgozhattam együtt rengeteg kiváló
  sminkessel egyre jobban megerősített abban, hogy ezt az utat is meg kell
  ismernem, végig kell járnom. Végül 2022-ben döntöttem el, hogy belevágok és
  Páll Adrienn iskolájában, a New School of Makeup 10 hónapos, államilag
  elismert képzésén vettem részt.
  <br />
  <br />
  Munkám során kizárólag professzionális smink termékekkel dolgozo, mint MAC,
  Natasha Denona, Charlotte Tilbury.
  <br />
  <br />
  Célom, hogy a vendégeim elégedettséggel, magabiztosan távozzanak, illetve
  fontosnak tartom, hogy folyamatosan képezzem magam, hiszem mindig lehet újat
  tanulni a szakma fortélyairól.
</div>
