<app-ribbon imagePath="../../../assets/images/main-page-ribbon.jpg">Főoldal</app-ribbon>
<div class="mt-5">
  <div class="row mb-5 pb-5">
    <div class="col-md-4 offset-md-1 text-center">
      <img class="img-fluid rounded" src="../../../assets/images/me.jpg" />
    </div>
    <div class="col-md-6 fs-6">
      <h3 class="fs-1 mt-3 mb-5">RÓLAM</h3>
      <p>
        Köszöntelek az oldalamon, Fenes Klaudia vagyok, sminkes és stylist.
      </p>
      <p>
        Lakatos Márk Style Institute iskolájában az elsők között szereztem meg stylist oklevelem 2015-ben. Az azóta
        eltelt időben dolgoztam stylistként fotózásokon, divatbemutatókon és forgatásokon is.
      </p>
      <p>
        Az hogy stylistként együtt dolgozhattam sok sminkessel egyre jobban megerősített abban, hogy ezt az utat is meg
        kell ismernem. Végül 2022-ben döntöttem el, hogy belevágok és Páll Adrienn iskolájában, a New School of Makeup
        10 hónapos, államilag elismert képzésén vettem részt.
      </p>
      <p>
        Munkám során kizárólag professzionális smink termékekkel dolgozom, mint MAC, Rare Beauty, Natasha Denona stb.
      </p>
      <p>
        Célom, hogy a vendégeim elégedettséggel, magabiztosan távozzanak, illetve fontosnak tartom, hogy folyamatosan
        képezzem magam, hiszen mindig lehet újat tanulni a szakma fortélyairól.
      </p>
    </div>
  </div>
  <br />
  <app-social-media></app-social-media>
  <br />
  <hr />
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2 text-center">
      <img class="img-fluid img-thumbnail rounded" src="../../../assets/images/logo.png" />
    </div>
    <div class="col-md-5"></div>
  </div>
</div>