<div class="row min-h-80">
  <div class="col-md-7">
    <h1>Szeretettel köszöntelek,</h1>
    <h3>Fenes Klaudia vagyok sminkes és stylist.</h3>
    Gyerekkorom óta imádtam a filmeket, a ruhákat, a szépséget, így belevágtam
    az egyik álmom megvalósításába és Lakatos Márk Style Institute iskolájában
    az elsők között szereztem meg stylist oklevelem 2015-ben. Az azóta eltelt
    időben dolgoztam stylistként átalakítónapokon, fotózásokon,divatbemutatókon
    és forgatásokon is.
    <br />
    <br />
    Az hogy stylistként testközelből dolgozhattam együtt rengeteg kiváló
    sminkessel egyre jobban megerősített abban, hogy ezt az utat is meg kell
    ismernem, végig kell járnom. Végül 2022-ben döntöttem el, hogy belevágok és
    Páll Adrienn iskolájában, a New School of Makeup 10 hónapos, államilag
    elismert képzésén vettem részt.
    <br />
    <br />
    Munkám során kizárólag professzionális smink termékekkel dolgozo, mint MAC,
    Natasha Denona, Charlotte Tilbury.
    <br />
    <br />
    Célom, hogy a vendégeim elégedettséggel, magabiztosan távozzanak, illetve
    fontosnak tartom, hogy folyamatosan képezzem magam, hiszen mindig lehet újat
    tanulni a szakma fortélyairól.
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <img class="img-fluid rounded" src="../../../assets/images/facebook.jpg"
    />
  </div>
</div>
<br />
<app-social-media></app-social-media>
<br />
<hr />
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <img
      class="img-fluid image-blurred-edge"
      src="../../../assets/images/logo.png"
    />
  </div>
  <div class="col-md-4"></div>
</div>
