/* Zoomed-in effect only in main slider */
::ng-deep ng-image-slider img {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
}

/* Reset image-fit for modal view */
::ng-deep ng-image-slider .lightbox-image-main img {
    object-fit: contain !important;
}

::ng-deep ng-image-slider .ng-image-fullscreen-view {
    z-index: 99999999 !important;
}