.navbar,
.navbar-brand {
  padding: 0;
  color: blue;
}

nav,
nav div,
nav ul {
  background-color: var(--color1);
  font-size: large;
}

nav a.navbar-brand {
  width: 5rem;
  height: 5rem;
}

.collapsable-menu-item {
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-menu {
  border-color: #00000000;
  padding: .5rem;
}