.navbar,
.navbar-brand {
  padding: 0;
}

nav,
nav div,
nav ul {
  background-color: white;
  font-size: 1.2rem;
}

nav a.navbar-brand {
  width: 5rem;
  height: 5rem;
}

.collapsable-menu-item {
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-menu {
  border-color: #00000000;
  padding: .5rem;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  transition: top 0.3s;
}
