<div class="row">
    <div class="col text-center">
        <h2>
            <p>
                Well, well, well, what do we have here?
            </p>
            <p>
                Caught red-handed!
            </p>
            <p>
                Looks like you’ve stumbled into the wrong neighborhood. Better luck next time!
            </p>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-md-8">
        <img src="../../../assets/images/hackerman.gif" class="img-fluid rounded w-100" />
    </div>
    <div class="col"></div>
</div>