.spinner-border {
  height: 10rem;
  width: 10rem;
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
  margin-top: -5rem; /* half of the elements height */
  margin-right: -5rem; /* half of the elements width */
}

.super_hide {
  position: fixed;
  top: -1000px; /* you would need to know how height the content is or put something huge*/
}
