<div class="d-flex flex-column min-vh-100">
  @if (!loaded) {
    <div class="spinner-border text-secondary" role="status"></div>
  }
  <div class="pt-5 mt-3">
    <app-navbar></app-navbar>
    <div [ngClass]="{'invisible' : !loaded}" class="container">
      <br/>
      <router-outlet></router-outlet>
      <div class="row high justify-content-center text-center fs-5" *ngIf="showContactMeButton()">
        <div [routerLink]=" ['contact-me']" class="menu-item p-2 border text-nowrap pointer p-5 mt-5 pb-4 pt-4 w-fc"
             mat-raised-button>
          Időpont egyeztetés
        </div>
      </div>
    </div>
  </div>
  <div class="mt-auto container">
    <app-footer></app-footer>
  </div>
</div>
