<div class="row mb-5">
    <div class="col text-center">
        <hr/>
    </div>
    <div class="col text-center fs-1">
        <p class="text-center">Szolgáltatások</p>
    </div>
    <div class=" col text-center">
        <hr/>
    </div>
</div>

<div class="container mt-4 mb-5 fs-6">
    <div class="row">
        @for (item of services; track item) {
            <div class="col-lg-3 col-md-6 col-6"
                 [routerLink]="['services/', item.link]">
                <div class="menu-item border justify-content-center m-2 p-2 text-center title">
                    {{item.title}}
                </div>
                <div class="grid-item">
                    <img src="../../assets/images/services/{{item.picName}}" alt="" class="img-fluid rounded pointer">
                </div>
            </div>
        }
    </div>
</div>
