<div class="row">
  <div class="col text-center">
    <hr/>
  </div>
  <div class="col text-center">
    <h2>SocialMedia</h2>
  </div>
  <div class="col text-center">
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col text-center text-nowrap">
    <a href="https://www.tiktok.com/@klaudiafenesmua?_t=8kVMfWzF0dM&_r=1" target="_blank">
      <button mat-stroked-button>
        <p>Facebook <i class="fa-brands fa-facebook-f"></i></p>
      </button>
    </a>
  </div>
  <div class="col text-center text-nowrap">
    <a href="https://www.instagram.com/fenesklaudia.makeup/?igsh=Z2N3d2ZpMzdkZDQw&utm_source=qr" target="_blank">
      <button mat-stroked-button>
        <p>Instagram <i class="fa-brands fa-instagram"></i></p>
      </button>
    </a>
  </div>
  <div class="col text-center text-nowrap">
    <a href="https://www.tiktok.com/@klaudiafenesmua?_t=8kVMfWzF0dM&_r=1" target="_blank">
      <button mat-stroked-button>
        <p>Tiktok <i class="fa-brands fa-tiktok"></i></p>
      </button>
    </a>
  </div>
</div>
<div class="row">
  <div class="col text-center btn-on-top">
    <a href="https://www.facebook.com/profile.php?id=61552209921820" target="_blank">
      <img class="img-fluid rounded" src="../../../assets/images/facebook.jpg"/></a>
  </div>
  <div class="col text-center btn-on-top">
    <a href="https://www.instagram.com/fenesklaudia.makeup/?igsh=Z2N3d2ZpMzdkZDQw&utm_source=qr" target="_blank">
      <img class="img-fluid rounded" src="../../../assets/images/instagram.jpg"/></a>
  </div>
  <div class="col text-center btn-on-top">
    <a href="https://www.tiktok.com/@klaudiafenesmua?_t=8kVMfWzF0dM&_r=1" target="_blank">
      <img class="img-fluid rounded" src="../../../assets/images/tiktok.jpg"/></a>
  </div>
</div>
