<div class="row">
  <div class="col text-center">
    <hr />
  </div>
  <div class="col text-center">
    <h2>SocialMedia</h2>
  </div>
  <div class="col text-center">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col text-center iframe-fb-container">
    <div class="text-center text-nowrap">
      <a class="mb-5" href="https://www.facebook.com/profile.php?id=61552209921820" target="_blank">
        <button mat-stroked-button>
          <p>Facebook <i class="fa-brands fa-facebook-f"></i></p>
        </button>
      </a>
    </div>
    <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61552209921820" data-tabs="timeline"
      data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
      data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/profile.php?id=61552209921820" class="fb-xfbml-parse-ignore"><a
          href="https://www.facebook.com/profile.php?id=61552209921820">Fenes Klaudia Makeup Artist</a></blockquote>
    </div>
  </div>
  <div class="col text-center">
    <div class="text-center text-nowrap">
      <a href="https://www.instagram.com/fenesklaudia.makeup/?igsh=Z2N3d2ZpMzdkZDQw&utm_source=qr" target="_blank">
        <button mat-stroked-button>
          <p>Instagram <i class="fa-brands fa-instagram"></i></p>
        </button>
      </a>
    </div>
    <iframe width="100%" height="100%" src="https://www.instagram.com/fenesklaudia.makeup/embed/"
      frameborder="0"></iframe>
  </div>
  <div class="col text-center">
    <div class="text-center text-nowrap">
      <a href="https://www.tiktok.com/@klaudiafenesmua?_t=8kVMfWzF0dM&_r=1" target="_blank">
        <button mat-stroked-button>
          <p>Tiktok <i class="fa-brands fa-tiktok"></i></p>
        </button>
      </a>
    </div>
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@klaudiafenesmua" data-unique-id="klaudiafenesmua"
      data-embed-from="embed_page" data-embed-type="creator" style="max-width:780px; min-width:288px;">
      <section> <a target="_blank"
          href="https://www.tiktok.com/@klaudiafenesmua?refer=creator_embed">&#64;klaudiafenesmua</a> </section>
    </blockquote>
  </div>
</div>