.col{
    margin-top: 1rem;
}
.menu-item{
    cursor: pointer;
    box-shadow: 0rem 0rem 0rem 0rem gray;
    transition: box-shadow 0.2s ease-in-out;
}
.is-active{
    box-shadow: 0rem 0rem .6rem 0rem gray;
    transition: box-shadow 0.2s ease-in-out;
}