<table class="table" *ngIf="!!service && servicesList.getDetailsLength(service)">
    <thead>
        <tr>
            <th scope="col">Szolgáltatás</th>
            <th scope="col" class="text-end" *ngIf="show(filterType.schedule)">Időtartam</th>
            <th scope="col" class="text-end" *ngIf="show(filterType.price)">Ár</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of service.details | keyvalue">
            <td>
                {{item.key}}{{writeStarNumber(getHintCount(item.key))}}
            </td>
            <td class="text-end align-middle" *ngIf="show(filterType.schedule)">
                {{item.value.schedule}}
              </td>
            <td class="text-end align-middle" *ngIf="show(filterType.price)">
                {{item.value.price | number}} Ft
            </td>
        </tr>
    </tbody>
</table>
<div *ngFor="let item of hints; let i = index">
    <p class="mb-0" style="font-size: smaller; opacity: 50%;">{{writeStarNumber(i)}}{{item}}</p>
</div>