@if (service.shortSummary && show(filterType.shortSummary)) {
  <div>
    {{service.shortSummary}}
  </div>
}
@if (!!service && servicesList.getDetailsLength(service)) {
  <table class="table fs-6">
    <thead>
      <tr>
        <th scope="col">Szolgáltatás</th>
        @if (show(filterType.schedule)) {
          <th class="text-end" scope="col">Időtartam</th>
        }
        @if (show(filterType.price)) {
          <th class="text-end" scope="col">Ár</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of service.details | keyvalue; track item) {
        <tr>
          <td>
            {{item.key}}{{writeStarNumber(getHintCount(item.key))}}
          </td>
          @if (show(filterType.schedule)) {
            <td class="text-end align-middle text-nowrap">
              {{item.value.schedule}}
            </td>
          }
          @if (show(filterType.price)) {
            <td class="text-end align-middle text-nowrap">
              {{item.value.price | number}} Ft
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
}
@for (item of hints; track item; let i = $index) {
  <div class="fs-6">
    <p class="mb-0" style="font-size: smaller; opacity: 50%;">{{writeStarNumber(i)}}{{item}}</p>
  </div>
}
