<div *ngIf="service.shortSummary && show(filterType.shortSummary)">
  {{service.shortSummary}}
</div>
<table *ngIf="!!service && servicesList.getDetailsLength(service)" class="table">
  <thead>
  <tr>
    <th scope="col">Szolgáltatás</th>
    <th *ngIf="show(filterType.schedule)" class="text-end" scope="col">Időtartam</th>
    <th *ngIf="show(filterType.price)" class="text-end" scope="col">Ár</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of service.details | keyvalue">
    <td>
      {{item.key}}{{writeStarNumber(getHintCount(item.key))}}
    </td>
    <td *ngIf="show(filterType.schedule)" class="text-end align-middle text-nowrap">
      {{item.value.schedule}}
    </td>
    <td *ngIf="show(filterType.price)" class="text-end align-middle text-nowrap">
      {{item.value.price | number}} Ft
    </td>
  </tr>
  </tbody>
</table>
<div *ngFor="let item of hints; let i = index">
  <p class="mb-0" style="font-size: smaller; opacity: 50%;">{{writeStarNumber(i)}}{{item}}</p>
</div>
